<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'nav' %>
    </div>
    <div class="col-md-8">
      <h3><%= @post.title %></h3>
      <p class="lead">
        by <%= @post.author.full_name %>
      </p>
      <hr>
      <p>
        <span class="glyphicon glyphicon-time"></span>
        Posted on <%= @post.created_at.strftime("%b %d, %Y") %>
        <% if @post.updated_at != @post.created_at %>
          <small>Edited at <%= @post.updated_at.strftime("%b %d, %Y") %></small>
        <% end %>
      </p>
      <% if @post.img_file.nil? %>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
      <% else %>
        <%= image_tag @post.img_file, style:"max-width: 100%; border: 1px solid #777777;"%>
      <% end %>
      <hr>
      <div class="post">
        <p class="lead"><%= @post.summary %></p>
        <p><%= @post.post %></p>
      </div>
      <hr>
      <nav>
        <button type="button" class="btn btn-default"><%= link_to "Edit", edit_post_path(id: @post.id) %></button>
        <button type="button" class="btn btn-default" style="border:1px solid red;"><%= link_to "<i class='fa fa-trash'></i>".html_safe, post_path(id: @post.id), method: :delete, data: {confirm: "Are you sure you want to delete?"} %></button>
      </nav>
      <hr>
      <br>
    </div>
  </div>
</div>
